.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  max-width: 1200px;
  margin: 0 auto;
}

.feed-picker-btn {
  min-width: 80px;
  padding: 3px 5px;
  border-radius: 3px;
  border: 1px solid lightblue;
  color: cadetblue;
  cursor: pointer;
  transition: box-shadow .3s;
}

.feed-picker-btn:hover,
.feed-picker-btn:active {
  box-shadow: 0 0 3px 2px rgba(0, 80, 255, 0.2);
}

.popup-close-btn {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 25px;
  height: 25px;
  background: none;
  color: black;
  transition: color .3s;
  border: none;
  cursor: pointer;
}

.popup-close-btn:hover {
  color: tomato;
}

.popup-close-btn::before,
.popup-close-btn::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22px;
  height: 2px;
  background-color: currentColor;
}

.popup-close-btn::before {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.popup-close-btn::after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.feed-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  list-style: none;
}

.feed-list-item {
  position: relative;
  padding: 5px;
  border-radius: 5px;
}

.feed-list-item:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.1);
}

.feed-list-radio-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  pointer-events: none;
}

.feed-list-radio-label {
  display: block;
  position: relative;
  width: 100%;
  cursor: pointer;
}

.feed-list-radio-label::before,
.feed-list-radio-label::after {
  content: '';
  position: absolute;
  right: calc(100% + 10px);
  transition: all .3s;
}

.feed-list-radio-label::before {
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid cadetblue;
  border-radius: 3px;
}

.feed-list-radio-label::after {
  top: 1px;
  right: calc(100% + 15px);
  width: 9px;
  height: 12px;
  color: #382b83;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(45deg);
  opacity: 0;
}

.feed-list-radio-label:hover::before {
  border-color: #382b83;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}

.feed-list-radio-btn:checked + .feed-list-radio-label::before {
  border-color: #382b83;
}

.feed-list-radio-btn:checked + .feed-list-radio-label::after {
  opacity: 1;
}

/*
    FEED_LIST_RADIO_BTN_CLASS: 'feed-list-radio-btn',
    FEED_LIST_RADIO_LABEL_CLASS: 'feed-list-radio-label', */
