.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper {
    width: 15vw;
    aspect-ratio: 1/1.5;
    outline: 1px solid red;
}




